.paginationContainer {
  display: flex;
  
  .btnSection{
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    .btnGroup{
      display: flex;
      flex-grow: 1;
    }

  }

  .btnContainer{
    // min-width:33.33%;
    text-align:center;
  }
}

@media screen and (min-width:992px){
  .paginationContainer{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
}
