.cart {
  width: 80vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: var(--colorWhite);
  border: var(--borderBlack);
  // border-top-left-radius: 20px;
  transition: width 450ms ease-out;
  box-sizing: border-box;

  &.isClosed {
    width: 0;
    border: 0;
  }

  .cartHeader {
    padding: 0.5rem;
    text-align: center;
  }

  .cartBody {
    height: 100%;

    .cartItemsContainer {
      // padding: 0.5rem 0;
      max-height: 80%;
      // background-color: var(--colorWhite);
      border-radius: 5px;
      overflow-y: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .cart {
    width: 25vw;
  }
}

@media screen and (min-width: 1400px) {
  .cart {
    width: 20vw;
  }
}
