.cart {
  width: 80vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: var(--colorWhite);
  border-top-left-radius: 10px;
  transition: width 450ms ease-out;

  &.isOpened {
    box-shadow: -5px 0px 20px 1px var(--colorFour);
  }

  &.isClosed {
    width: 0;
    border: 0;
  }

  .cartContainer {
    .cartHeader {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;
      text-align: center;

      :nth-child(1) {
        align-self: flex-start;
      }
    }

    .cartBody {
      height: 100%;
      padding: 1rem .5rem;

      .cartItemsContainer {
        max-height: 80%;
        border-radius: 5px;
        overflow-y: auto;
      }
    }

  }

}

@media screen and (min-width: 768px) {
  .cart {
    width: 25vw;
  }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1400px) {
  .cart {
    width: 20vw;
  }
}