.cart {
  width: 80vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: var(--colorWhite);
  border-top-left-radius: 10px;
  transition: width 450ms ease-out;

  &.isOpened {
    box-shadow: -5px 0px 20px 1px var(--colorFour);
  }

  &.isClosed {
    width: 0;
    border: 0;
  }

  .cartHeader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    text-align: center;

    > :nth-child(1) {
      // align-self: flex-start;
      border: solid 1px red;
      // padding: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 1rem;
    }
  }

  .cartBody {
    height: 100%;

    .cartItemsContainer {
      // padding: 0.5rem 0;
      max-height: 80%;
      // background-color: var(--colorWhite);
      border-radius: 5px;
      overflow-y: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .cart {
    width: 25vw;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1400px) {
  .cart {
    width: 20vw;
  }
}
