.browserContainer{
  margin:1rem 0;
  padding:.5rem;
  //border: var(--borderFour);
  //border-radius: 10px;
}

@media screen and (min-width:992px){
  .browserContainer{
    display: flex;
    gap: .5rem;

  }
}