.browserContainer {
  margin: 1rem 0;
  //padding: .5rem;
  min-height: 2.5rem;

  >* {
    height: 100%;
  }
}

@media screen and (min-width:992px) {
  .browserContainer {
    display: flex;
    gap: .5rem;

  }
}