.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 1rem 0.5rem;
  width: 95%;
  border: var(--borderBlack);
  text-align: center;
  border-radius: 5px;

  .itemHeader {
    text-align: right;
    color: var(--colorRed);
    font-size: 1.2rem;
  }

  .itemBody {
    border-radius: 10px;
    padding: 1rem 0.5rem;
  }

  .itemFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .item {
    width: 90%;
  }
}
