.DropDownContainer {
  // min-height: 2rem;
  position: relative;
  background-color: white;
  border-radius: 5px;
  text-align: center;

  .DropDownBody {
    padding:.5rem;
    margin-top: .5rem;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--colorWhite);
    border-radius: 5px;

    .list {
      padding: 1rem;

      li {
        /*padding: 0.5rem;*/
      }
    }
  }
}

@media screen and (min-width:992px){
  .DropDownContainer{
    .DropDownBody{
      /*margin-top: 1.5rem;
      transform: translate(-100%);
      left: 100%;*/
    }
  }
  
}
