.DropDownContainer {
  position: relative;
  background-color: white;
  border-radius: 5px;
  text-align: center;

  opacity: 0;
  animation: fadeInUp 0.3s ease-out forwards;

  .DropDownBody {
    padding:.5rem;
    margin-top: .5rem;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--colorWhite);
    border-radius: 5px;

    .list {
      padding: 1rem;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
