.homeContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .5rem;

    .browserSection{
        padding: .5rem;
    }
}

@media screen and (min-width:992px) {
    .homeContainer {
        .searchSection{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .browserSection {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > :first-child{
                order: 2;
            }
        }
    }
}