.homeContainer {
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    flex-grow: 1;
    padding: .5rem;

    .searchSection{
        padding:1rem .5rem;
        border-radius: 10px;
        box-shadow: var(--boxShadowDark);
        
    }

    .paginationSection{
        display:flex;
        justify-content: center;
        align-items:center;
    }
}

@media screen and (min-width:768px){
    .homeContainer{
        .productsSection{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            gap:.5rem;
        }
    }
}

@media screen and (min-width:992px) {
    .homeContainer {
        .searchSection{
            display: flex;
            justify-content: space-between;
            align-items: center;

            
            >:nth-child(1){
                 order:2;   
            }
        }

        .productsSection{
            grid-template-columns: repeat(3,1fr);
        }
       
    }
}

@media screen and (min-width:1200px){
    .homeContainer{
        .productsSection{
            grid-template-columns: repeat(4,1fr);
        }
    }
}

@media screen and (min-width:1400px){
    .homeContainer{
        .productsSection{
            grid-template-columns: repeat(5,1fr);
        }
    }
}