.input {
  // margin-bottom: 1.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;

  &.error {
    border: solid 2px var(--colorRed);
    box-shadow: 0.1px 0.1px 5px 0.1px var(--colorRed);
  }
}
.label {
  padding: 0.3rem 0.5rem;
}

.errorMessage {
  margin: 0.5rem 0.5rem 1.5rem;
  color: var(--colorRed);
  font-weight: bold;
}
