.categoriesContainer {
  padding: 1rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    order: 2;
  }

  .categoriesLabel {
    padding: 0 .5rem;
    color: black;
  }

  .categories {
    padding: 0 .5rem;
    flex-direction: column;
  }
}

@media screen and (min-width:768px) {
  .categoriesContainer {
    .categories {
      flex-direction: row;

    }

  }
}

@media screen and (min-width:992px) {
  .categoriesContainer {
    align-items: flex-start;
    padding: 1rem;

    &:nth-child(1) {
      order: initial;
    }

    .categoriesLabel {
      text-align: left;
    }
  }
}