.genreFormContainer {
  display: flex;
  //justify-content: center;
  align-items: center;
  margin-bottom:2.5rem;
  padding: 1rem;
  width: 100%;
  min-height: 3rem;
  background-color: var(--colorWhite);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px var(--colorBlack);
  
  &:nth-child(1) {
    order: 2;
  }

  .genreFormLabel {
    padding: 0 .5rem;
    color: black;
  }

  .categories {
    padding: 0 .5rem;
    flex-direction: row;
  }
}

@media screen and (min-width:768px) {
 
}

@media screen and (min-width:992px) {
  .genreFormContainer {
    align-items: flex-start;
    margin-bottom:0;

    //padding: 1rem;
    width:initial;

    &:nth-child(1) {
      order: initial;
    }

    .genreFormLabel {
      text-align: left;
    }
  }
}