@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorOne: #e7e79d;
  --colorTwo: #c0d890;
  --colorThree: #78a890;
  --colorFour: #606078;
  --colorFive: #d8a878;
  --colorRed: #dc3545;
  --colorBlack: #6c757d;
  --colorDark: #000000;
  --colorWhite: #ffffff;

  --borderThree: solid 2px var(--colorThree);
  --borderFive: solid 2px var(--colorFive);
}

input:focus,
input:active,
/* input:hover, */
input:disabled {
  outline: none;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e3e6e6;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 0.5rem 0;
}

@media screen and (min-width: 992px) {
  main {
    padding: 1rem 2rem;
  }
}
