@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorOne: #e7e79d;
  --colorTwo: #c0d890;
  --colorThree: #78a890;
  --colorFour: #606078;
  --colorFourTransparent: rgba(96, 96, 120, 0.9);
  --colorFive: #d8a878;
  --colorFiveTransparent: rgba(216, 168, 120, 0.5);
  --colorRed: #dc3545;
  --colorBlack: #6c757d;
  --colorDark: #000000;
  --colorDarkTransparent: #00000050;
  --colorWhite: #ffffff;
  --colorWhiteTransparent: #ffffff50;

  --borderOne: solid 2px var(--colorOne);
  --borderTwo: solid 2px var(--colorTwo);
  --borderThree: solid 2px var(--colorThree);
  --borderFour: solid 2px var(--colorFour);
  --borderFive: solid 2px var(--colorFive);
  --borderRed: solid 2px var(--colorRed);
  --borderBlack: solid 2px var(--colorBlack);
  --borderDark: solid 2px var(--colorDark);
  --borderWhite: solid 2px var(--colorWhite);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
input:active,
input:disabled {
  outline: none;
}

/* button:hover, */
a:hover {
  transition: transform 0.1s ease;
  transform: scale(1.01);
}

img {
  max-width: 100%;
}

.titleOne {
  font-size: 2rem;
}

.titleThree {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.titleFour {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e3e6e6;
}

main {
  display: flex;
  flex-grow: 1;
  margin-top: 11rem;
}

@media screen and (min-width: 992px) {
  main {
    margin-top: 9rem;

    padding: 1rem 2rem;
  }
}