.paginationMuiContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem .5rem;

  .pagination {
    color: blue;
    border-radius: 10px;
    border: var(--borderFour);


    .paginationItem {
      font-weight: 200;
      font-size: 1.5rem;
    }
  }


}


@media screen and (min-width:992px) {
  .paginationContainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
}