.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-align: center;

  max-height: 0;
  overflow: hidden;

  transition: max-height 700ms ease-in;

  ul {
    .login {
      border: var(--borderThree);
      color: var(--colorThree);
    }
    .register {
      border: var(--borderFive);
      color: var(--colorFive);
    }
  }
}


@media screen and (min-width: 992px) {
  .mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

//ANIMATION

.hAuto{
  max-height: 100vh;
}


// @keyframes crecer {
//   0% {
//     height: 0;
//   }
//   // 50% {
//   //   height: 50px;
//   // }
//   100% {
//     height: inherit;
//   }
// }

