.mainNav {
  padding: 0.5rem;
  text-align: center;
  ul {
    .login {
      border: var(--borderThree);
      color: var(--colorThree);
    }
    .register {
      border: var(--borderFive);
      color: var(--colorFive);
    }
  }
}

@media screen and (min-width: 992px) {
  .mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
