.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0 1rem;


  text-align: center;
}

ul {
  .login {
    border: var(--borderThree);
    color: var(--colorThree);
  }
  .register {
    border: var(--borderFive);
    color: var(--colorFive);
  }
}

.addHeight {
  height: 100px;
  // padding: 0;
}

.miAnimation{
  animation: crecer 3s forwards;

}

@media screen and (min-width: 992px) {
  .mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

//ANIMATION

@keyframes crecer {
  0% {
    height: 0;
  }
  // 50% {
  //   height: 50px;
  // }
  100% {
    height: inherit;
  }
}
