.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 75%;
  text-align: center;
  border: solid 4px var(--colorFive);
  border-radius: 10px;

  .headerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
  }

  .bodyForm {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.5rem;
  }

  .footerForm {
    // padding: 1rem 0;
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .form {
    width: 50%;
    height: 50%;
    text-align: left;
    border-width: 3px;
  }

  .footerForm {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 30%;
  }
}

@media screen and (min-width: 1400px) {
  .form {
    width: 20%;
  }
}
