.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 75%;
  color: var(--colorFive);
  text-align: start;
  border: solid 4px var(--colorFive);
  border-radius: 10px;

  .headerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .bodyForm {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.5rem;
  }

  .footerForm {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .form {
    width: 40%;
    height: 50%;
    border-width: 3px;
  }

  .footerForm {
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 30%;
  }
}

@media screen and (min-width: 1400px) {
  .form {
    width: 20%;
  }
}
