.productDetail {
  padding: 1rem 1rem;
  border-radius:10px;
  
  .imagesDetail {
    margin: 1rem 0;
    padding: 1rem 0;

    .list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(60px, 100%), 1fr));
      gap: 0.4rem;
      padding: 0.5rem;
      max-height: 30vh;
      overflow: auto;

      li {
        margin: 0.5rem 0;
        padding:.5rem;
      }
    }

    .selectedImage {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 35vh;
    }
  }

  .detailBody {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: var(--boxShadowBlack);
    border-radius: 8px;
    font-size: 1.2rem;
    
    .detailBodyHeader{
      font-size: 1.5rem;
    }
    
    .detailBodyMain{
      flex-grow:1;
    }
  }
}

@media screen and (min-width: 992px) {
  .productDetail {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;

    .imagesDetail {
      display: grid;
      grid-template-columns: 1fr 5fr;

      .list {
        grid-template-columns: 1fr;

        li {
          margin-left: auto;
        }
      }
    }

    .detailBody{
      justify-content:space-between;
      align-items: stretch;
      text-align:left;

      .detailBodyMain{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: stretch;
      }
    }
  }
}
