.productDetail {
  // margin: 1rem 0;
  padding: 1rem 1rem;

  .detailImages {
    margin: 1rem 0;
    padding: 1rem 0;
    overflow-y: auto;
    max-height: 50vh;

    .list {
      li {
        margin: 0.5rem 0;

        img {
          margin: 0 auto;
        }
      }
    }
  }

  .detailBody {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 992px) {
  .productDetail {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
