.header {
  text-align: center;
  background-color: var(--colorFour);
  height: auto;
  height: auto;

  position: fixed;
  width: 100%;

  .headerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;

    // .title {
    //   font-size: 1.7rem;
    // }
  }
}
